/* || Component - Card product details controls image
	 ========================================================================== */

// 1. Features
// Product card contains controls like add to cart and quick view over an image along 
// with name and price at the bottom
// Quick view option open that product details in a modal
// 2. Notes:
// The card background required to set on block that implementing this component

@use '../../../abstracts/variables' as var;
@use '../../../abstracts/mixins' as mx;
@use '../../../base/typography';

.card-product-dtls-controls-img {
	&:not(:last-child) {
		margin-bottom: 22px;
	}
}

.card-pd-ci-img-bg {
	height: 438px;
	position: relative;

	@media screen and (min-width: var.$mobile-landscape-view) {
		height: 304px;
	}

	@media screen and (min-width: var.$tablet-view) {
		height: 265px;
	}

	@media screen and (min-width: var.$pc-view) {
		height: 320px;
	}

	@media screen and (min-width: var.$tv-view) {
		height: 376px;
	}

	&:hover {
		.card-pd-ci-controls-ctr {
			@media screen and (min-width: var.$laptop-view) {
				opacity: 1;
			}
		}
	}
}

// hover effect
.card-pd-ci-img-bg-he {
	@media screen and (min-width: var.$laptop-view) {
		@include mx.inline-animation(1s) {
			from {
				opacity: 0.3;
			}

			to {
				opacity: 1;
			}
		}
	}

	&:hover {
		@media screen and (min-width: var.$laptop-view) {
			@include mx.inline-animation(1s) {
				from {
					opacity: 0.3;
				}

				to {
					opacity: 1;
				}
			}
		}
	}
}

.card-pd-ci-controls-ctr {
	@extend %flex-h-sb;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	transition: opacity 1s;

	@media screen and (min-width: var.$laptop-view) {
		opacity: 0;
	}
}

.card-pd-ci-control-btn {
	@include mx.btn-basic-modifiers($color: false,
		$color-focus: false,
		$color-hover: false,
		$color-active: false,
		$bg-color: var.$bc-secondary-light,
		$bg-color-focus: false,
		$bg-color-hover: false,
		$bg-color-active: false,
		$border: none,
		$width: false,
		$height: false,
		$border-radius: 5px,
		$outline: 2px solid var.$c-lead-outline-light,
		$outline-offset: false,
		$cursor: pointer,
		$text-align: center,
		$content-vh-center: false,
		$display: inline-block,
		$transition: false);
	padding: 10px;
}

// Only for the purpose of javascript click event to open modal
.card-pd-ci-control-btn-qv {}

.card-pd-ci-control-btn-icon {
	@include mx.svg-fixed-size ($color: false,
		$width: 20px,
		$height: 20px,
		$stroke: false,
		$fill: var.$c-secondary,
		$display: block);
}

.card-pd-ci-tittle {
	margin: 1.15em 0 0.3em;
	@extend %ffp-cp-s-font;
	@extend %normal-500;

	@media screen and (min-width: var.$tablet-view) {
		margin: 0.8em 0 0.2em;
		font-size: var.$fs-m;
	}
}

.card-pd-ci-price {
	@extend %ffp-cs-lighter-m-font;
	@extend %base-400;
}