footer {
	padding-top: 80px;
}

footer .menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 36px 10px;
}

@media screen and (min-width: 48em) {
	footer .menu {
		grid-template-columns: repeat(4, 1fr);
		gap: 36px 24px;
	}
}

@media screen and (min-width: 62em) {
	footer .menu {
		grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
		gap: 0 12px;
	}
}

footer .sub-menu a span:hover,
footer .sub-menu a span:focus {
	color: var(--c-primary);
	transition: color 0.3s ease;
}

footer .menu .social svg {
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 10px;
}

footer .menu .subscribe {
	grid-column: 1 / 3;
}

@media screen and (min-width: 48em) {
	footer .menu .subscribe {
		grid-column: 1 / 5;
	}
}

@media screen and (min-width: 62em) {
	footer .menu .subscribe {
		grid-column: initial;
	}
}

footer .main-menu>span {
	display: inline-block;
	margin-bottom: 26.5px;
}

footer .sub-menu:not(:last-child) {
	margin-bottom: 11px;
}

footer .sub-menu svg {
	position: relative;
	top: 2px;
}

footer .main-menu.subscribe>p {
	opacity: 0.4;
	margin: 0 0 1.3em;
}

footer .subscribe form p {
	display: flex;
}

footer .subscribe form p>* {
	display: inline-block;
}

footer .subscribe form p input {
	line-height: 2.5;
	border-top: 1px solid #ced4da;
	border-left: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-right: none;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	flex: 1;
	background-color: var(--bc-tertiary);
	outline: none;
	padding: 0 0.625em;
}

footer .subscribe form p input.error {
	border-top: 1px solid #e42c3e;
	border-left: 1px solid #e42c3e;
	border-bottom: 1px solid #e42c3e;
}

footer .subscribe form p button {
	align-self: stretch;
	flex: 1;
	max-width: 105px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	border: 0;
	background-color: var(--c-primary);
	outline: none;
	cursor: pointer;
}

footer .attribution {
	margin-top: 70px;
	background-color: var(--bc-secondary);
	padding: 10px 0;
}

@media screen and (min-width: 62em) {
	footer .attribution {
		margin-top: 84px;
	}
}

@media screen and (min-width: 27.5em) {
	footer .attribution p {
		font-size: 0.8125rem;
	}
}

@media screen and (min-width: 48em) {
	footer .attribution p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

footer .attribution p a {
	outline: none;
}

footer .attribution p a:link,
footer .attribution p a:visited {
	color: rgb(25, 53, 50, .7);
	font-weight: 400;
}

footer .attribution p a:focus,
footer .attribution p a:hover {
	color: rgb(25, 53, 50, 1);
}

footer .attribution p a:active {
	color: rgb(25, 53, 50, 0.5);
}