@media screen and (min-width: 62em) {
	header {
		position: sticky;
		top: 0;
		background-color: var(--bc-primary);
		z-index: 10;
		box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
	}
}

header h1 {
	margin: 0;
}

nav {
	position: relative;
}

.nav-bar {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

@media screen and (min-width: 62em) {

	.nav-bar {
		justify-content: initial;
	}
}

.menu-controls {
	width: 50px;
}

@media screen and (min-width: 62em) {

	.menu-controls {
		display: none;
	}
}

.menu-controls svg,
.search svg,
.nav-search-cart .cart-button svg {
	fill: var(--c-primary);
	stroke: var(--c-primary);
	stroke-width: 0;
	display: block;
	margin: auto;
}

.hamburger,
.menu-controls .close-button,
.search button,
.nav-search-cart .cart-button {
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.nav-menu .hamburger,
header .nav-menu.active .close-button,
.search .search-button,
.search.active .close-button {
	display: block;
}

.nav-menu.active .hamburger,
header .nav-menu .close-button,
.search.active .search-button,
.search .close-button {
	display: none;
}