/* || Component - Image lead foreground centered content
	 ========================================================================== */

// 1. Features
// Lead image wrapper
// Centered columnwise foreground icon and text on hover the image with transition
// 2. Notes
// Set fixed width and height in the implementing block or component element

@use '../../../abstracts/variables' as var;
@use '../../../abstracts/mixins' as mx;
@use '../../../base/typography';
@use '../../../base/sitewide';
@use 'sass:color';

.img-lead-fg-centered-cnt {
	position: relative;
	@include mx.link-img-icon-wr($border: none,
		$hover-opacity: false,
		$width: 100%,
		$height: 100%,
		$border-radius: false,
		$outline: 2px solid var.$c-lead-outline,
		$outline-offset: false,
		$cursor: pointer,
		$text-align: false,
		$content-vh-center: false,
		$display: block,
		$text-decoration: none,
		$transition: false);

	&:hover {
		@include mx.inline-animation($duration: 0.3s,
		$animation-fill-mode: forwards) {
			from {
				transform: scale(1);
			}

			to {
				transform: scale(1.025);
			}
		}
	}
}

.img-lf-cc-img {
	@extend %img-icon-cover-center;
}

.img-lf-cc-cnt-ctr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@extend %flex-dc-v-center-h-center;
}

.img-lf-cc-icon {
	font-size: var.$fs-xxl;
	margin-bottom: 2rem;
	display: block;
	color: var.$bc-primary;

	@media screen and (min-width: var.$tablet-view) {
		font-size: var.$fs-xxxl;
	}
}

.img-lf-cc-text {
	text-align: center;
	@extend %ffp-bcp-m-font;
	@extend %normal-400;
	text-shadow: 1px 1px 1px color.adjust(var.$c-alpha, $alpha: -0.55);
	margin: 0;
}