/* Decor underline */
.decor-underline {
	position: relative;
	display: inline-block;
}

.decor-underline::after {
	content: '';
	display: block;
	width: 100%;
	max-width: 0;
	position: absolute;
	background: url(../../images/underline.svg) center / 100% auto no-repeat;
	bottom: -3px;
	left: 0;
	height: 13px;
	overflow: hidden;
	opacity: 0.7;
}

.decor-underline.active::after {
	max-width: 250px;
	animation: 1s cubic-bezier(.25, 1, .30, 1) .3s wipe-in-right both;
}

/* || Aside top bar */

.top-bar {
	background-color: var(--bc-secondary);
	padding: 8px 0 8px;
}

.top-bar p {
	text-align: center;
	margin: 0.55em 0;
}

.top-bar p span {
	display: inline-block;
	margin: 0 8px;
}

.top-bar a {
	cursor: pointer;
}

.top-bar a:link {
	color: var(--c-primary);
}


@media screen and (min-width: 48em) {

	.top-bar .top-bar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/* || Aside shoping cart */

.overlay {
	background-color: rgba(25, 53, 50, 0.8);
	z-index: 20;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	cursor: crosshair;
	display: block;
}

.overlay.display-none {
	display: none;
}

.shoping-cart {
	width: 100%;
	height: 100%;
	background-color: var(--bc-primary);
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	overflow: hidden;
	max-width: 0;
	z-index: 20;
}

.shoping-cart.active {
	max-width: 300px;
}

@keyframes cart-wipe-in {
	from {
		clip-path: inset(0 0 0 100%);
	}

	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes cart-wipe-out {
	from {
		clip-path: inset(0 0 0 0);
	}

	to {
		clip-path: inset(0 0 0 100%);
	}
}

.shoping-cart[transition-style="in:wipe:right"] {
	animation: .4s ease cart-wipe-in both;
}

.shoping-cart[transition-style="out:wipe:right"] {
	animation: .4s ease cart-wipe-out both;
}

.shoping-cart h2 {
	margin: 0.86em 0;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.shoping-cart h2 span {
	display: inline-block;
	padding: 5px 8px;
	margin-left: 3px;
	border-radius: 45px;
	background-color: var(--bc-secondary);
}

.shoping-cart .header,
.shoping-cart .footer {
	flex: 0;
}

.shoping-cart .body {
	flex: 1;
}

.shoping-cart .centered {
	margin-left: 16px;
	margin-right: 16px;
}

.shoping-cart hr {
	border: none;
	border-top: 1px solid var(--bc-primary-dark);
	padding: 0;
	margin: 0;
}

.shoping-cart .cart-item {
	display: grid;
	grid-template-columns: 44px 1fr 30px;
	column-gap: 18px;
	padding: 16px 0 11px;
}

.shoping-cart .cart-item .img-wrapper {
	width: 100%;
	height: 44px;
}

.shoping-cart .cart-item .img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.shoping-cart .body h4 {
	margin: 0.2em 0 0.8em;
}

.shoping-cart .body button {
	border: none;
	background-color: transparent;
	text-decoration: underline;
	outline: none;
	padding: 12px 0;
	margin-right: 10px;
}

.shoping-cart .quantity {
	text-align: right;
}

.shoping-cart .coupon-wr {
	background-color: var(--bc-secondary);
	padding: 8px 0;
}

.shoping-cart .coupon-wr p {
	margin-top: 0;
	margin-bottom: 0;
}

.shoping-cart .coupon svg {
	width: 16px;
	height: 16px;
	display: inline-block;
	fill: var(--c-primary);
	stroke: var(--c-primary);
	stroke-width: 0;
	position: relative;
	top: 3px;
}

.shoping-cart .total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 10px;
}

.shoping-cart .total h3 {
	margin: 0;
	text-transform: uppercase;
}

.shoping-cart .footer>a {
	display: block;
	background-color: var(--c-primary);
	padding: 9px 0;
	outline: none;
	text-decoration: none;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.shoping-cart .footer>a svg {
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

/* || Aside to-top */

.to-top {
	width: 40px;
	height: 40px;
	position: sticky;
	top: 88vw;
	left: 88vw;
	z-index: 20;
	display: none;
}

.to-top button {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: var(--c-primary);
	border-radius: 2px;
	border: none;
	outline: none;
	display: block;
}

.to-top button:hover {
	opacity: 1;
}

.to-top svg {
	width: 24px;
	height: 24px;
	margin: auto;
	display: block;
}

/* || Hero block */

.hero {
	background-image: linear-gradient(to bottom, #375754 0%, var(--c-primary) 90%, var(--bc-secondary) 90%);
	text-align: center;
}

@media screen and (min-width: 75em) {

	.hero {
		text-align: left;
		position: relative;
	}
}

@media screen and (min-width: 87.5em) {

	.hero {
		background-image: linear-gradient(to bottom, #375754 0%, var(--c-primary) 84%, var(--bc-secondary) 84%);
	}
}

.hero p {
	text-align: center;
	opacity: 0.7;
	text-transform: uppercase;
}

@media screen and (min-width: 75em) {

	.hero p {
		text-align: left;
	}
}

.hero .content-block {
	padding: 71px 0 80px;
}

@media screen and (min-width: 75em) {

	.hero .content-block {
		padding: 95px 50% 112px 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
}

@media screen and (min-width: 87.5em) {

	.hero .content-block {
		padding: 95px 50% 216px 0;
	}
}

.hero h2 {
	margin: 0.5em 0 1.4em;
	text-align: center;
}

@media screen and (min-width: 36em) {
	.hero h2 {
		margin: 0.45em 0 1.2em;
	}
}

@media screen and (min-width: 75em) {

	.hero h2 {
		margin: 0.35em 0 0.8em;
		text-align: left;
	}
}

.hero .decor-underline::after,
.social-sec .decor-underline::after {
	background: url(../../images/underline_dark.svg) center / 100% auto no-repeat;
}

.hero a {
	display: inline-block;
	outline: none;
	background-color: #f9f9f9;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 7px 24px;
	transition: opacity 0.3s ease;
}

.hero a svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: var(--c-primary);
	stroke: var(--c-primary);
	position: relative;
	top: 4px;
	margin-right: 5px;
}

.hero a:link,
.hero a:visited {
	color: var(--c-primary);
}

.hero a:hover {
	opacity: 0.9;
}

.hero hr {
	border: none;
	border-top: 1px solid var(--bc-primary-dark);
	margin: 0;
	opacity: 0.15;
}

@media screen and (min-width: 75em) {

	.hero hr {
		display: none;
	}
}

.hero .image-block .img-wrapper {
	text-align: center;
}

@media screen and (min-width: 75em) {

	.hero .image-block .img-wrapper {
		text-align: right;
	}
}

.hero .image-block .img-wrapper img {
	width: 92%;
}

@media screen and (min-width: 48em) {

	.hero .image-block .img-wrapper img {
		width: 80%;
	}
}

@media screen and (min-width: 75em) {

	.hero .image-block .img-wrapper img {
		width: 65%;
		margin-right: 30px;
	}
}

/* || Why us section */

.why-us-sec {
	background-color: var(--bc-secondary);
	padding: 76px 0 100px;
	text-align: center;
}

@media screen and (min-width: 62em) {

	.why-us-sec {
		padding-top: 60px;
	}
}

@media screen and (min-width: 27.5em) {

	.why-us-sec .qualities-wr {
		margin: 79px 0 60px;
	}
}

@media screen and (min-width: 36em) {

	.why-us-sec .qualities-wr {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 24px;
		margin: 79px 0 54px;
	}
}

.why-us-sec h3 {
	margin: 1em 0;
	text-align: center;
}

@media screen and (min-width: 36em) {

	.why-us-sec h3 {
		margin: 0.85em 0;
	}
}

.why-us-sec p {
	text-align: center;
}

.why-us-sec .qualities-wr {
	margin: 79px 0 53px;
}

@media screen and (min-width: 36em) {

	.why-us-sec .quality {
		flex: 0 0 calc(50% - 12px);
	}
}

@media screen and (min-width: 62em) {

	.why-us-sec .quality {
		flex: 0 0 calc(32.33% - 12px);
	}
}

.why-us-sec .quality:not(:last-child) {
	margin-bottom: 49px;
}

@media screen and (min-width: 36em) {

	.why-us-sec .quality:not(:last-child) {
		margin-bottom: 35px;
	}
}

@media screen and (min-width: 62em) {

	.why-us-sec .quality:not(:last-child) {
		margin-bottom: 0;
	}
}

.why-us-sec svg {
	fill: var(--c-primary);
	stroke: var(--c-primary);
	stroke-width: 0;
}

.why-us-sec h4 {
	margin: 1.1em 0 1.1em;
	text-align: center;
}

@media screen and (min-width: 62em) {

	.why-us-sec h4 {
		margin: 1em 0;
	}
}

.why-us-sec .customers {
	opacity: 0.5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 5px;
}

@media screen and (min-width: 27.5em) {

	.why-us-sec .customers {
		row-gap: 12px;
	}
}

@media screen and (min-width: 36em) {

	.why-us-sec .customers {
		row-gap: 17px;
	}
}

@media screen and (min-width: 48em) {

	.why-us-sec .customers {
		margin-right: auto;
		margin-left: auto;
		max-width: 756px;
	}
}

.why-us-sec .customers>* {
	flex: 0 0 21%;
	height: 60px;
}

@media screen and (min-width: 36em) {

	.why-us-sec .customers>* {
		flex: 0 0 17%;
	}
}

@media screen and (min-width: 48em) {

	.why-us-sec .customers>* {
		flex: 0 0 15%;
	}
}

.why-us-sec .customers>*:not(hr) {
	max-width: 100px;
}

.why-us-sec .customers img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}

.why-us-sec .customers hr {
	flex: 0 0 100%;
	height: 0;
	margin: 0;
	border: 0;
}

/* || Shop section */

.shop-sec {
	padding: 53px 0 15px;
}

.shop-sec h3 {
	text-align: center;
	margin: 0.95em 0;
}

@media screen and (min-width: 36em) {
	.shop-sec h3 {
		margin: 0.85em 0;
	}
}

@media screen and (min-width: 62em) {

	.shop-sec h3 {
		margin: 0.85em 0;
	}
}

.shop-sec .view-all {
	text-align: center;
}

.shop-sec .view-all a,
.explore-sec .content-wr a {
	text-decoration: none;
	display: inline-block;
	border: 1.5px solid var(--bc-primary-dark);
	outline: none;
	text-transform: uppercase;
}

.shop-sec .view-all a {
	padding: 9.5px 30px;
}

.shop-sec .view-all a svg {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	position: relative;
	top: 1px;
	fill: var(--c-secondary);
}

.shop-sec .products-wr {
	margin-top: 48px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 19px 0;
	padding: 0 12px;
}

@media screen and (min-width: 48em) {
	.shop-sec .products-wr {
		grid-template-columns: repeat(2, 1fr);
		gap: 19px 20px;
	}
}

@media screen and (min-width: 62em) {

	.shop-sec .products-wr {
		grid-template-columns: repeat(3, 1fr);
	}
}

.shop-sec .product {
	position: relative;
	height: 340px;
}

.shop-sec .product a {
	display: inline-block;
	text-decoration: none;
	outline: none;
	transition: opacity 0.3s ease;
	text-transform: uppercase;
}

.shop-sec .product a:hover {
	opacity: 0.9;
}

.shop-sec .product a,
.shop-sec .product img {
	width: 100%;
	height: 100%;
}

.shop-sec .product img {
	object-fit: cover;
	object-position: center center;
}

.shop-sec .product h4 {
	padding: 15px;
	background-color: var(--bc-primary);
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
}

@media screen and (min-width: 87.5em) {

	.shop-sec .product h4 {
		padding: 15px 22px;
	}
}

/* || New arrivals section */

.new-arrivals-sec {
	background-color: var(--bc-ternary);
	padding: 119px 0 122px;
}

@media screen and (min-width: 87.5em) {

	.new-arrivals-sec {
		padding: 145px 0 115px;
	}
}

.new-arrivals-sec .sec-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 60px 0;
}

@media screen and (min-width: 36em) {
	.new-arrivals-sec .sec-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 60px 30px;
	}
}

@media screen and (min-width: 48em) {
	.new-arrivals-sec .sec-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 62em) {

	.new-arrivals-sec .sec-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 36em) {

	.new-arrivals-sec .content.grid-box {
		grid-column: 1 / 3;
	}
}

@media screen and (min-width: 48em) {

	.new-arrivals-sec .content.grid-box {
		grid-column: 1 / 4;
	}
}

@media screen and (min-width: 62em) {

	.new-arrivals-sec .content.grid-box {
		grid-column: 1 / 3;
	}
}


@media screen and (min-width: 75em) {

	.new-arrivals-sec .content.grid-box {
		grid-column: 1;
	}

	.new-arrivals-sec .grid-box .img-wrapper {
		height: 320px;
	}
}

@media screen and (min-width: 87.5em) {

	.new-arrivals-sec .grid-box .img-wrapper {
		height: 376px;
	}
}

.new-arrivals-sec h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: 36em) {

	.new-arrivals-sec h3 {
		margin-top: 0.84em;
		margin-bottom: 0.84em;
	}
}

@media screen and (min-width: 75em) {

	.new-arrivals-sec h3 {
		margin-top: 0;
	}
}

.new-arrivals-sec p {
	opacity: 0.7;
}

.new-arrivals-sec .lead {
	margin-top: 23px;
}

.new-arrivals-sec .lead a {
	text-decoration: none;
	display: inline-block;
	border: 1.5px solid var(--c-secondary-lighter);
	padding: 7.5px 22px;
	outline: none;
	margin: 5px;
	transition: all 0.3s ease;
}

.new-arrivals-sec .lead a:hover,
.new-arrivals-sec .lead a:focus {
	background-color: var(--c-primary);
	color: var(--bc-primary);
}

.new-arrivals-sec .grid-box:not(.content.grid-box, :last-child) {
	margin-bottom: 22px;
}

.new-arrivals-sec .grid-box .img-wrapper {
	height: 438px;
}

@media screen and (min-width: 36em) {
	.new-arrivals-sec .grid-box .img-wrapper {
		height: 304px;
	}
}


@media screen and (min-width: 48em) {

	.new-arrivals-sec .grid-box .img-wrapper {
		height: 265px;
	}
}

.new-arrivals-sec .grid-box .control-box {
	height: 100%;
	background: transparent;
}

@media screen and (min-width: 48em) {

	.new-arrivals-sec .grid-box>.img-wrapper .control-box {
		opacity: 0;
		transition: opacity 0.5s ease;
	}
}

@media screen and (min-width: 48em) {

	.new-arrivals-sec .grid-box>.img-wrapper.animate .control-box {
		opacity: 1;
	}
}


@media screen and (min-width: 48em) {

	.new-arrivals-sec .grid-box:nth-child(2)>.img-wrapper .control-box {
		background: url(../../images/shop/light-grey-sofa-1.jpg) center / cover no-repeat;
	}

	.new-arrivals-sec .grid-box:nth-child(3)>.img-wrapper .control-box {
		background: url(../../images/shop/celling-lights-3-1.jpg) 20% center / cover no-repeat;
	}

	.new-arrivals-sec .grid-box:nth-child(4)>.img-wrapper .control-box {
		background: url(../../images/shop/high-stand-chair-4.jpg) 20% center / cover no-repeat;
	}

	.new-arrivals-sec .grid-box:nth-child(5)>.img-wrapper .control-box {
		background: url(../../images/shop/light-grey-sofa-3.jpg) 20% center / cover no-repeat;
	}

	.new-arrivals-sec .grid-box:nth-child(8)>.img-wrapper .control-box {
		background: url(../../images/shop/white-cuddle-chair-8-1.jpg) 20% center / cover no-repeat;
	}
}

.new-arrivals-sec .grid-box .controls {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 20px;
	height: 100%;
}

.new-arrivals-sec .grid-box .control-box button {
	background-color: var(--bc-secondary-lighter);
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	align-self: flex-end;
}

.new-arrivals-sec .grid-box .control-box svg {
	display: block;
	width: 20px;
	height: 20px;
	fill: var(--c-secondary);
}

.new-arrivals-sec .grid-box:nth-child(2) .img-wrapper {
	background: url(../../images/shop/light-grey-sofa-2.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(3) .img-wrapper {
	background: url(../../images/shop/celling-lights-3.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(4) .img-wrapper {
	background: url(../../images/shop/high-stand-chair-4-1.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(5) .img-wrapper {
	background: url(../../images/shop/dining-sofa-5.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(6) .img-wrapper {
	background: url(../../images/shop/bathroom-cloths-shelves-6.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(7) .img-wrapper {
	background: url(../../images/shop/golden-lamp-7.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec .grid-box:nth-child(8) .img-wrapper {
	background: url(../../images/shop/white-cuddle-chair-8.jpg) 20% center / cover no-repeat;
}

.new-arrivals-sec h4 {
	margin: 1.15em 0 0.3em;
}

@media screen and (min-width: 48em) {

	.new-arrivals-sec h4 {
		margin: 0.8em 0 0.2em;
	}
}

/* || Explore section */

@media screen and (min-width: 62em) {

	.explore-sec {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 75em) {

	.explore-sec {
		grid-template-columns: auto 35%;
	}
}

@media screen and (min-width: 87.5em) {

	.explore-sec {
		grid-template-columns: auto 33%;
	}
}

.explore-sec .img-wrapper {
	height: 330px;
}

@media screen and (min-width: 36em) {

	.explore-sec .img-wrapper {
		height: 410px;
	}
}

@media screen and (min-width: 62em) {

	.explore-sec .img-wrapper {
		height: 100%;
		max-height: 580px;
	}
}

.explore-sec .img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.explore-sec .content-wr {
	padding: 24px 0 78px;
}

@media screen and (min-width: 62em) {

	.explore-sec .content-wr {
		padding: 92px 48px 84px;
	}
}

@media screen and (min-width: 75em) {

	.explore-sec .content-wr {
		padding: 79px 48px 71px;
	}
}

.explore-sec h3 {
	margin: 0.96em 0;
}

@media screen and (min-width: 48em) {
	.explore-sec h3 {
		margin: 0.7em 0;
	}
}

.explore-sec .content-wr p {
	margin-bottom: 1.8em;
}

.explore-sec .content-wr a {
	padding: 10.5px 22px;
	transition: all 0.3s ease;
}


.explore-sec .content-wr a:hover,
.explore-sec .content-wr a:focus {
	background-color: var(--c-primary);
	color: var(--bc-primary);
}

.explore-sec .content-wr a svg {
	width: 16px;
	fill: var(--c-secondary);
	position: relative;
	top: 3px;
	transition: all 0.3s ease;
}

.explore-sec .content-wr a:hover svg,
.explore-sec .content-wr a:focus svg {
	fill: var(--bc-primary);
}

.explore-sec .feature-block {
	background-color: var(--bc-neutral);
	padding: 81px 0 63px;
}

@media screen and (min-width: 48em) {

	.explore-sec .feature-block {
		padding: 81px 0 68px;
	}
}

@media screen and (min-width: 62em) {

	.explore-sec .feature-block {
		padding: 101px 0 85px;
		grid-column: 1 / 3;
	}
}

@media screen and (min-width: 48em) {

	.explore-sec .feature-container {
		display: flex;
		column-gap: 24px;
	}
}

@media screen and (min-width: 62em) {

	.explore-sec .feature-container {
		column-gap: 12px;
	}
}

.explore-sec .feature-block svg {
	width: 64px;
	height: 64px;
	fill: var(--c-primary);
	stroke: var(--c-primary);
	stroke-width: 0;
	display: block;
	margin: auto;
}

.explore-sec .feature:not(:last-child) {
	margin-bottom: 50.5px;
}

.explore-sec h4 {
	margin: 1.1em 0;
	text-align: center;
}

@media screen and (min-width: 48em) {

	.explore-sec .feature:not(:last-child) {
		margin-bottom: 0;
	}
}

.explore-sec .feature p {
	opacity: 0.6;
	text-align: center;
}

/* || Social section */

.social-sec {
	background-color: var(--c-primary);
}

@media screen and (min-width: 48em) {

	.social-sec {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 16px;
	}
}

@media screen and (min-width: 62em) {

	.social-sec {
		grid-template-columns: repeat(3, 1fr);
	}
}

.social-sec .content-wr {
	text-align: center;
	padding: 96px 38px 95px;
}

@media screen and (min-width: 36em) {

	.social-sec .content-wr {
		padding: 96px 95px 95px;
	}
}

@media screen and (min-width: 48em) {

	.social-sec .content-wr {
		grid-column: 1 / 3;
		grid-row: 1;
	}
}

@media screen and (min-width: 62em) {

	.social-sec .content-wr {
		grid-column: 2;
		grid-row: 1;
		padding: 0 50px 0;
		margin: auto;
	}
}

@media screen and (min-width: 75em) {

	.social-sec .content-wr {
		padding: 0 30px 0;
	}
}

.social-sec h3 {
	margin: 0.65em 0;
	text-align: center;
}

.social-sec .content-wr a {
	display: inline-block;
	outline: none;
	background-color: var(--c-primary);
	text-align: center;
	text-decoration: none;
	padding: 11px 30px;
	border: 1.5px solid rgba(255, 255, 255, 0.25);
	margin-top: 32px;
	transition: all 0.3s ease;
	text-transform: lowercase;
}

.social-sec .content-wr a:hover,
.social-sec .content-wr a:focus {
	background-color: var(--bc-primary);
	color: var(--c-primary);
}

.social-sec .gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}


@media screen and (min-width: 48em) {

	.social-sec .gallery.gallery-left {
		grid-column: 1;
		grid-row: 2;
		margin-bottom: 0;
	}

	.social-sec .gallery.gallery-right {
		grid-column: 2;
		grid-row: 2;
	}
}

@media screen and (min-width: 62em) {

	.social-sec .gallery.gallery-left {
		grid-column: 1;
		grid-row: 1;
	}

	.social-sec .gallery.gallery-right {
		grid-column: 3;
		grid-row: 1;
	}
}

.social-sec .gallery .img-wrapper {
	position: relative;
	height: 220px;
}

@media screen and (min-width: 27.5em) {

	.social-sec .gallery .img-wrapper {
		height: 270px;
	}
}

.social-sec .gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.social-sec .gallery a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .65);
	opacity: 0;
	transition: opacity 0.4s ease;
}

.social-sec .gallery a:hover {
	opacity: 1;
}

.social-sec .gallery a svg {
	width: 40px;
	height: 40px;
}

.social-sec .gallery-left {
	margin-bottom: 5px;
}