/* || Component - Card cart item action image details
	 ========================================================================== */

// 1. Features
// Item contain a small image
// action to edit and remove
// item details

@use '../../../abstracts/variables' as var;
@use '../../../abstracts/mixins' as mx;
@use '../../../base/typography';
@use '../../../base/sitewide';

.card-cart-item-aid {
	display: grid;
	grid-template-columns: 44px 1fr 30px;
	column-gap: 18px;
	padding: 16px 0 11px;
}

.card-ci-aid-header {
	width: 100%;
	height: 44px;
}

.card-ci-aid-img {
	@extend %img-icon-cover-center;
}

.card-ci-aid-body {}

.card-ci-aid-tittle {
	margin: 0.3em 0 0.6em;
	@extend %ffs-cs-xxs-font;
	@extend %base-500;

	@media screen and (min-width: var.$tv-view) {
		font-size: var.$fs-xs;
	}
}

.card-ci-aid-price {
	@extend %ffs-bcp-darker-xxs-font;
	@extend %base-400;
}

.card-ci-aid-action-ctr {
	padding-top: 6px;
	padding-bottom: 8px;
}

.card-ci-aid-action {
	padding: 5px 10px 5px 0;
	@extend %ffs-xxs-font;
	@extend %base-400;
	@include mx.btn-no-bg-border($color: var.$bc-primary-darker,
		$color-hover: var.$bc-primary-darkest,
		$color-active: false,
		$width: false,
		$height: false,
		$outline: 2px solid var.$c-lead-light);
}

.card-ci-aid-footer {
	text-align: right;
}

.card-ci-aid-quantity {
	@extend %ffs-cs-light-xxs-font;
	@extend %base-400;
}