body {
	font-size: 15px;
	font-family: var(--ff-primary);
	color: var(--c-primary);
	line-height: var(--lh-normal);
	font-weight: 400;
}

/* || FFP-CP Fonts (ff-primary c-primary fonts) */

.why-us-sec h3,
.shop-sec h3,
.new-arrivals-sec h3,
.explore-sec h3 {
	font-family: var(--ff-primary);
	color: var(--c-primary);
	font-size: var(--fs-xl);
}

@media screen and (min-width: 36em) {

	.why-us-sec h3 {
		font-size: var(--fs-xxl);
	}
}

@media screen and (min-width: 48em) {

	.why-us-sec h3 {
		font-size: var(--fs-xxxl);
	}

	.shop-sec h3,
	.new-arrivals-sec h3,
	.explore-sec h3 {
		font-size: var(--fs-xxl);
	}
}

@media screen and (min-width: 75em) {
	.why-us-sec h3 {
		font-size: calc(var(--fs-xxxl) * 1.3);
	}
}

@media screen and (min-width: 87.5em) {

	.shop-sec h3,
	.new-arrivals-sec h3,
	.explore-sec h3 {
		font-size: var(--fs-xxxl);
	}
}

.logo,
.why-us-sec h4,
.explore-sec h4 {
	font-family: var(--ff-primary);
	color: var(--c-primary);
	font-size: var(--fs-l);
}

.top-bar p,
footer .main-menu>span,
.new-arrivals-sec h4 {
	font-family: var(--ff-primary);
	color: var(--c-primary);
	font-size: var(--fs-s);
}

@media screen and (min-width: 48em) {

	.new-arrivals-sec h4 {
		font-size: var(--fs-m);
	}
}

header .main-menu>div>a,
.shoping-cart h2,
.shop-sec .product a {
	font-family: var(--ff-primary);
	color: var(--c-primary);
	font-size: var(--fs-xs);
}

@media screen and (min-width: 62em) {
	header .main-menu>div>a {
		font-size: var(--fs-xxs);
	}
}

/* || FFP-CS Fonts (ff-primary c-secondary fonts) */

.search.active form input {
	font-family: var(--ff-primary);
	color: var(--c-secondary);
	font-size: var(--fs-l);
}

.new-arrivals-sec .price {
	font-family: var(--ff-primary);
	color: var(--c-secondary-lighter);
	font-size: var(--fs-m);
}

footer .main-menu.social .sub-menu a span {
	font-family: var(--ff-primary);
	color: var(--c-secondary-lighter);
	font-size: var(--fs-xxs);
}

/* || FFP-BCP Fonts (ff-primary bc-primary fonts) */

.hero-ai-tittle {
	font-family: var(--ff-primary);
	color: var(--bc-primary);
	font-size: var(--fs-xxl);
}

@media screen and (min-width: 36em) {
	.hero-ai-tittle {
		font-size: var(--fs-xxxl);
	}
}

@media screen and (min-width: 48em) {

	.hero-ai-tittle {
		font-size: calc(var(--fs-xxxl) * 1.1);
	}
}

@media screen and (min-width: 62em) {

	.hero-ai-tittle {
		font-size: calc(var(--fs-xxxl) * 1.2);
	}
}

@media screen and (min-width: 75em) {

	.hero-ai-tittle {
		font-size: calc(var(--fs-xxxl) * 1.3);
	}
}

.hero-ai-tag {
	font-family: var(--ff-primary);
	color: var(--bc-primary);
	font-size: var(--fs-xs);
}

.social-sec h3 {
	font-family: var(--ff-primary);
	color: var(--bc-primary-dark);
	font-size: var(--fs-l);
}

@media screen and (min-width: 62em) {

	.social-sec h3 {
		font-size: var(--fs-xl);
	}
}

/* || FFS-CP Fonts (ff-secondary c-primary fonts) */

.shoping-cart .total span,
.hero-absolute-image a,
.why-us-sec p,
.new-arrivals-sec p,
.explore-sec .content-wr p,
.explore-sec .feature p {
	font-family: var(--ff-secondary);
	color: var(--c-primary);
	font-size: var(--fs-s);
}

header .main-menu>div .caret,
.shoping-cart .body button,
.shoping-cart .footer p,
.shoping-cart .total h3,
footer .subscribe>p {
	font-family: var(--ff-secondary);
	color: var(--c-primary);
	font-size: var(--fs-xs);
}

@media screen and (min-width: 62em) {
	header .main-menu>div .caret {
		font-size: var(--fs-xxs);
	}
}

header .sub-menu>div .caret,
.shoping-cart h2 span,
footer .attribution p {
	font-family: var(--ff-secondary);
	color: var(--c-primary);
	font-size: var(--fs-xxs);
}

.shoping-cart .body .price {
	font-family: var(--ff-secondary);
	color: var(--bc-primary-darker);
	font-size: var(--fs-xxs);
}

/* || FFS-CS Fonts (ff-secondary c-secondary fonts) */

.shoping-cart .body h4,
.new-arrivals-sec .lead a,
.explore-sec .content-wr a {
	font-family: var(--ff-secondary);
	color: var(--c-secondary);
	font-size: var(--fs-xs);
}

.shop-sec .view-all a {
	font-family: var(--ff-secondary);
	color: var(--c-secondary);
	font-size: var(--fs-xs);
}

.shoping-cart .quantity,
footer .sub-menu a:not(.social .sub-menu a) {
	font-family: var(--ff-secondary);
	color: var(--c-secondary-lighter);
	font-size: var(--fs-xxs);
}

header .sub-menu>div>a,
header .super-sub-menu>div>a {
	font-family: var(--ff-secondary);
	color: var(--c-secondary-lightest);
	font-size: var(--fs-xxs);
}

/* || FFS-BCP Fonts (ff-secondary bc-primary fonts) */

.social-sec .content-wr a,
footer .subscribe button {
	font-family: var(--ff-secondary);
	color: var(--bc-primary);
	font-size: var(--fs-s);
}

.shoping-cart .footer>a {
	font-family: var(--ff-secondary);
	color: var(--bc-primary);
	font-size: var(--fs-xs);
}

.nav-search-cart .cart-button::after {
	font-family: var(--ff-secondary);
	color: var(--bc-primary);
	font-size: var(--fs-xxs);
}

footer .subscribe input::placeholder {
	font-family: var(--ff-secondary);
	color: var(--bc-primary-darker);
	font-size: var(--fs-xs);
}

/* || FFS-BCS Fonts (ff-secondary bc-secondary fonts) */

footer .subscribe input {
	font-family: var(--ff-secondary);
	color: var(--bc-secondary-darkest);
	font-size: var(--fs-s);
}

/* || LH-FW (Line height with font weight) */

footer .subscribe>p {
	font-weight: 300;
	line-height: var(--lh-normal);
}

.nav-search-cart .cart-button::after,
.social-sec .content-wr a,
.social-sec h3 {
	font-weight: 400;
	line-height: var(--lh-base);
}

.top-bar p,
header .sub-menu>div>a,
header .super-sub-menu>div>a,
.shoping-cart h2 span,
.shoping-cart .body .price,
.shoping-cart .quantity,
.shoping-cart .footer p,
.shoping-cart .total h3,
.shoping-cart .footer>a,
footer .subscribe input,
footer .subscribe input::placeholder,
footer .subscribe button,
.why-us-sec h3,
.hero-ai-tag,
.hero-absolute-image a,
.why-us-sec p,
.new-arrivals-sec .lead a,
.explore-sec .content-wr p,
.explore-sec .feature p,
.new-arrivals-sec .price,
.shop-sec .view-all a {
	font-weight: 400;
	line-height: var(--lh-normal);
}

footer .sub-menu a:not(.social .sub-menu a),
footer .attribution p,
.new-arrivals-sec p {
	font-weight: 400;
	line-height: var(--lh-wide);
}

.top-bar p a,
header .sub-menu>div .caret,
.shoping-cart .body h4,
.shoping-cart .total span,
.hero-ai-tittle,
.why-us-sec h4,
.new-arrivals-sec h4,
.explore-sec h4 {
	font-weight: 500;
	line-height: var(--lh-normal);
}

.hero-ai-tittle {
	font-weight: 500;
	line-height: var(--lh-base);
}

@media screen and (min-width: 62em) {
	header .sub-menu>div .caret {
		font-weight: 400;
	}
}

footer .main-menu>span {
	font-weight: 600;
	line-height: var(--lh-normal);
}

header .main-menu>div>a,
header .main-menu>div .caret,
.logo,
.search.active form input,
.explore-sec .content-wr a,
.shop-sec .product a {
	font-weight: 700;
	line-height: var(--lh-normal);
}

@media screen and (min-width: 62em) {
	header .main-menu>div .caret {
		font-weight: 400;
	}
}

@media screen and (min-width: 62em) {
	header .main-menu>div>a {
		font-weight: 500;
	}
}

/* || LS-WS (Letter spacing with word spacing) */

footer .attribution p {
	letter-spacing: var(--ls-base);
	word-spacing: var(--ws-base);
}

header .main-menu>div>a,
.logo,
.shoping-cart .total h3,
footer .sub-menu a:not(.social .sub-menu a),
footer .main-menu.social .sub-menu a span,
footer .main-menu.subscribe>span,
.hero-absolute-image a,
.explore-sec .content-wr a,
.shop-sec .view-all a,
.shop-sec .product a {
	letter-spacing: var(--ls-normal);
	word-spacing: var(--ws-base);
}

.hero-ai-tag {
	letter-spacing: var(--ls-wide);
	word-spacing: var(--ws-base);
}